h1 {
    color: white;
    background-color: rgb(250, 118, 250);
}
#names {
    font-family: Arial, Arial, Helvetica, sans-serif
    border-collapse: collapse; 
    width: 100%;
}

#names td, 
#names th {
    border: 1px  #ddd;
    padding: 8px; 
}

#names tr:nth-child(even)
{
    background-color: #f8b6b6;
}

#names tr:hover {
    background-color: #ddd;
}

#names th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aa048e;
    color: white;
}