h1 {
    color: white;
    background-color: purple;
}
#names {
    font-family: Arial, Arial, Helvetica, sans-serif
    border-collapse: collapse; 
    width: 100%;
}

#names td, 
#names th {
    border: 1px solid #ddd;
    padding: 8px; 
}

#names tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#names tr:hover {
    background-color: #ddd;
}

#names th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}